<h1> Empresa industrial </h1>
    <div style="position:absolute;bottom:590px;right:50px;margin:0;padding:5px 3px;" href="#">
        <button type="button" class="btn btn-danger"> Cerrar cesion </button>
    </div>
    <h3>Bienvenidos</h3>
<br> 
    <a class="m-0 row justify-content-center">
        <nav class="btn-group" role="group" aria-label="Basic example ">
            <button type="button" class="btn btn-success"> Inicio </button>
            <button type="button" class="btn btn-success"> Usuario </button>
            <button type="button" class="btn btn-success"> Proveedores </button>
            <button type="button" class="btn btn-success"> Empleados </button>
            <button type="button" class="btn btn-success"> Obras/Proyectos </button>
            <button type="button" class="btn btn-success"> Herramienta/maquinaria </button>
        </nav> 
    </a>